{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post">
    {{ form.hidden_tag() }}

    {{ form.username.label }} {{ form.username() }}

    {{ form.first_name.label }} {{ form.first_name() }}

    {{ form.last_name.label }} {{ form.last_name() }}

    {{ form.email.label }} {{ form.email() }}

    {{ form.password.label }} {{ form.password() }}

    {{ form.confirm_password.label }} {{ form.confirm_password() }}
    
    {{ form.type.label }} {{ form.type() }}

    <input type="submit" value="Register">
</form>
{% endblock %}